<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Zadatak_4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>svgroup.org.servlets.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDataUIServlet</display-name>
    <servlet-name>UserDataUIServlet</servlet-name>
    <servlet-class>svgroup.org.servlets.UserDataUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataUIServlet</servlet-name>
    <url-pattern>/userDataUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesListServlet</display-name>
    <servlet-name>EmployeesListServlet</servlet-name>
    <servlet-class>svgroup.org.servlets.EmployeesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesListServlet</servlet-name>
    <url-pattern>/employeesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesPerDepartmentServlet</display-name>
    <servlet-name>EmployeesPerDepartmentServlet</servlet-name>
    <servlet-class>svgroup.org.servlets.EmployeesPerDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesPerDepartmentServlet</servlet-name>
    <url-pattern>/employeesPerDepartment</url-pattern>
  </servlet-mapping>
</web-app>