<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.HomeServlet</servlet-class>
        <init-param>
            <param-name>idCategory</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KosaricaServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.KosaricaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.UserAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CahPaymentServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.CashPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PovijestKupnjeServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.PovijestKupnjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuth</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.AdminAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledTransakcijaServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.PregledTransakcijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalPaymentServlet</servlet-name>
        <servlet-class>vspr.java3.shop.controllers.PayPalPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/product_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KosaricaServlet</servlet-name>
        <url-pattern>/kosarica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CahPaymentServlet</servlet-name>
        <url-pattern>/cash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PovijestKupnjeServlet</servlet-name>
        <url-pattern>/povijestKupnje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuth</servlet-name>
        <url-pattern>/adminAuthorization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledTransakcijaServlet</servlet-name>
        <url-pattern>/pregledTransakcija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalPaymentServlet</servlet-name>
        <url-pattern>/paypal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
